
*.pyc
*.sqlite3
*.xes
FeatureAggregation/__pycache__/settings.cpython-310.pyc
FeatureAggregation/__pycache__/urls.cpython-310.pyc
FeatureAggregation/__pycache__/wsgi.cpython-310.pyc
ProjectApp/__pycache__/__init__.cpython-310.pyc
ProjectApp/__pycache__/admin.cpython-310.pyc
ProjectApp/__pycache__/apps.cpython-310.pyc
ProjectApp/__pycache__/models.cpython-310.pyc
ProjectApp/__pycache__/urls.cpython-310.pyc
ProjectApp/__pycache__/views.cpython-310.pyc
ProjectApp/migrations/__pycache__/0001_initial.cpython-310.pyc
ProjectApp/migrations/__pycache__/__init__.cpython-310.pyc
*.pyc
*.csv
*.sqlite3

db.sqlite3
db.sqlite3
FeatureAggregation/__pycache__/__init__.cpython-310.pyc
FeatureAggregation/__pycache__/settings.cpython-310.pyc
FeatureAggregation/__pycache__/urls.cpython-310.pyc
FeatureAggregation/__pycache__/wsgi.cpython-310.pyc
ProjectApp/__pycache__/__init__.cpython-310.pyc
ProjectApp/__pycache__/admin.cpython-310.pyc
ProjectApp/__pycache__/apps.cpython-310.pyc
ProjectApp/__pycache__/models.cpython-310.pyc
ProjectApp/__pycache__/urls.cpython-310.pyc
ProjectApp/__pycache__/views.cpython-310.pyc
ProjectApp/migrations/__pycache__/0001_initial.cpython-310.pyc
ProjectApp/migrations/__pycache__/__init__.cpython-310.pyc
test_tree
test_tree.pdf
*.png
media/images/decisionTree
*.pyc
*.zip
media/images/decTree
media/images/decTree
