{% extends 'main.html' %}

{% block content %} 

<div style='position: absolute; top: 20%; left: 30%; right: 45%; text-align: center;'>
    <h1>Chose which attributes you want to derive:</h1>
    <div class="sidenav">

        <button class="dropdown-btn">Time 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a id='time1' onclick='check_dropdown1()'>Activity duration of completed activities</a>
            <a id='time2' onclick='check_dropdown2()'>Time since start of case</a>
            <a id='time3' onclick='check_dropdown3()'>Time to end of case</a>
            <a id='time4' onclick='check_dropdown4()'>Case duration</a>
          </div>
    
        <button class="dropdown-btn" >Workload 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a id='workload1' onclick='check_dropdown5()'>Total Workload</a>
            <a id='workload2' onclick='check_dropdown6()'>Workload of event resource at time of event</a>
          </div>
    
        <button class="dropdown-btn">Data-Flow
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">

            <a id='data-flow1' onclick='check_dropdown7()'>Last assigned value of a certain attribute prior to event(D1)</a>
            <a id='data-flow2' onclick='check_dropdown8()'>Last assigned value of a certain attribute after event(D2)</a>
            <a id='data-flow3' onclick='check_dropdown9()'>Average value of a certain attribute after current event(D3)</a>
            <a id='data-flow4' onclick='check_dropdown10()'>Max value of a certain attribute after current event(D4)</a>
            <a id='data-flow5' onclick='check_dropdown11()'>Min value of a certain attribute after current event(D5)</a>
            <a id='data-flow6' onclick='check_dropdown12()'>Sum value of a certain attribute after current event(D6)</a>
          </div>
    
        <button class="dropdown-btn">Control-Flow
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a id='control-flow1' onclick='check_dropdown13()'>Number of times a certain activity is executed before an event(C1)</a>
            <a id='control-flow2' onclick='check_dropdown14()'>Next activity after event constrained by an activity set(C2)</a>
            <a id='control-flow3' onclick='check_dropdown15()'>Activity prior to event(C3)</a>
          </div>

    </div>
    
</div>

<div style='position: absolute; top: 27%; left: 65%; right: 5%; text-align: center;'>
    <h1>Attributes to derive:</h1>
    <div style='border: 1px solid black; width: 380px; height: 200px; overflow:auto;'>

        <p id='time1-text' style='display:none'>Activity duration of completed activities(T1)</p>
        <p id='time2-text' style='display:none'>Time since start of case(T2)</p>
        <p id='time3-text' style='display:none'>Time to end of case(T3)</p>
        <p id='time4-text' style='display:none'>Case duration(T4)</p>
        <p id='workload1-text' style='display:none'>Workload of event resource left after event(R1)</p>
        <p id='workload2-text' style='display:none'>Total Workload left after event(R2)</p>
        <p id='data-flow6-text' style='display:none'>Sum value of a certain attribute after current event(D6)</p>
        <p id='data-flow5-text' style='display:none'>Min value of a certain attribute after current event(D5)</p>
        <p id='data-flow4-text' style='display:none'>Max value of a certain attribute after current event(D4)</p>
        <p id='data-flow3-text' style='display:none'>Average value of a certain attribute after current event(D3)</p>
        <p id='data-flow2-text' style='display:none'>Last assigned value of a certain attribute after current event(D2)</p>
        <p id='data-flow1-text' style='display:none'>Last assigned value of a certain attribute prior to event(D1)</p>
        <p id='control-flow1-text' style='display:none'>Number of times a certain activity is executed before an event(C1)</p>
        <p id='control-flow2-text' style='display:none'>Next activity after event constrained by an activity set(C2)</p>
        <p id='control-flow3-text' style='display:none'>Activity prior to event(C3)</p>
    </div>
    <button type='button' onclick='updateButton()' style='margin-top:10%; width: 380px; border-radius: 8px; padding: 14px 40px; font-size: 20px; background-color: #555555; color: white;'> 
        Update Event Log
    </button>

    <button type='button' onclick="testinho()" style='margin-top:10%; width: 380px; border-radius: 8px; padding: 14px 40px; font-size: 20px; background-color: #555555; color: white;'> 
        Download Updated Event Log
    </button>

</div>

<script>
     function check_dropdown1(){
        var variavel_text = document.getElementById('time1-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }

    function check_dropdown2(){
        var variavel_text = document.getElementById('time2-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown3(){
        var variavel_text = document.getElementById('time3-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown4(){
        var variavel_text = document.getElementById('time4-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown5(){
        var variavel_text = document.getElementById('workload1-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown6(){
        var variavel_text = document.getElementById('workload2-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown7(){
        var variavel_text = document.getElementById('data-flow1-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown8(){
        var variavel_text = document.getElementById('data-flow2-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown9(){
        var variavel_text = document.getElementById('data-flow3-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown10(){
        var variavel_text = document.getElementById('data-flow4-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown11(){
        var variavel_text = document.getElementById('data-flow5-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown12(){
        var variavel_text = document.getElementById('data-flow6-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown13(){
        var variavel_text = document.getElementById('control-flow1-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown14(){
        var variavel_text = document.getElementById('control-flow2-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown15(){
        var variavel_text = document.getElementById('control-flow3-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }

    // called upon clicking: Update event log
    // turns the chosen attributes into javascript list of their abbreviation ID(R1, T3, etc.)
    // IMPORTANT for functions with additional input, add after their list attribute push, see for example D1
    // finally does ajax upload
    function updateButton() {      
        const listattributes = []
        const listExtraInput = []
        if (document.getElementById('time1-text').style.display=='block'){
            listattributes.push("T1")
        }
        if (document.getElementById('time2-text').style.display=='block'){
            listattributes.push("T2")
        }
        if (document.getElementById('time3-text').style.display=='block'){
            listattributes.push("T3")
        }
        if (document.getElementById('time4-text').style.display=='block'){
            listattributes.push("T4")
        }
        if (document.getElementById('workload1-text').style.display=='block'){
            listattributes.push("R1")
        }
        if (document.getElementById('workload2-text').style.display=='block'){
            listattributes.push("R2")
        }
        if (document.getElementById('data-flow1-text').style.display=='block'){
            listattributes.push("D1")
            let additional_input = prompt("Attribute D1 requires an event attribute as input such as: Resource?");
            console.log("Chosen attribute for D1"+ additional_input)
            listExtraInput.push('D1:' + additional_input)
        }
        if (document.getElementById('data-flow2-text').style.display=='block'){
            listattributes.push("D2")
            let additional_input = prompt("Attribute D2 requires an event attribute as input such as: Resource?");
            console.log("Chosen attribute for D2"+ additional_input)
            listExtraInput.push('D2:' + additional_input)
        }
        if (document.getElementById('data-flow3-text').style.display=='block'){
            listattributes.push("D3")
            let additional_input = prompt("Attribute D3 requires an event attribute as input such as: Resource?");
            console.log("Chosen attribute for D3"+ additional_input)
            listExtraInput.push('D3:' + additional_input)
        }
        if (document.getElementById('data-flow4-text').style.display=='block'){
            listattributes.push("D4")
            let additional_input = prompt("Attribute D4 requires an event attribute as input such as: Resource?");
            console.log("Chosen attribute for D4"+ additional_input)
            listExtraInput.push('D4:' + additional_input)
        }
        if (document.getElementById('data-flow5-text').style.display=='block'){
            listattributes.push("D6")
            let additional_input = prompt("Attribute D5 requires an event attribute as input such as: Resource?");
            console.log("Chosen attribute for D5"+ additional_input)
            listExtraInput.push('D5:' + additional_input)
        }
        if (document.getElementById('data-flow6-text').style.display=='block'){
            listattributes.push("D6")
            let additional_input = prompt("Attribute D6 requires an event attribute as input such as: Resource?");
            console.log("Chosen attribute for D6"+ additional_input)
            listExtraInput.push('D6:' + additional_input)
        }
        if (document.getElementById('control-flow1-text').style.display=='block'){
            listattributes.push("C1")
        }
        if (document.getElementById('control-flow2-text').style.display=='block'){
            listattributes.push("C2")
        }
        if (document.getElementById('control-flow3-text').style.display=='block'){
            listattributes.push("C3")
        }

        let data =new FormData();
        data.append('ListAtr',listattributes)
        data.append('ExtraAtr',listExtraInput)

        
        // TODO add listExtraInput
        // AJAX UPLOAD TO SERVER
        fetch("ListAttributes/", {
        method: "POST",
        body: data
        })
        .then((res) => { return res.text(); })
        .then((txt) => { console.log(txt); });


    }


    
</script>

{% endblock %}

