{% extends 'main.html' %}

{% block content %} 

<div style='position: absolute; top: 20%; left: 30%; right: 45%; text-align: center;'>
    <h1>Chose which attributes you want to derive:</h1>
    <div class="sidenav">

        <button class="dropdown-btn">Time 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a id='time1' onclick='check_dropdown1()'>Activity duration of completed activities(T1)</a>
            <a id='time2' onclick='check_dropdown2()'>Time since start of case(T2)</a>
            <a id='time3' onclick='check_dropdown3()'>Time to end of case(T3)</a>
            <a id='time4' onclick='check_dropdown4()'>Case duration(T4)</a>
          </div>
    
        <button class="dropdown-btn" >Workload 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a id='workload1' onclick='check_dropdown5()'>Workload of event resource at time of event (R1)</a>
            <a id='workload2' onclick='check_dropdown6()'>Total Workload(R2)</a>
          </div>
    
        <button class="dropdown-btn">Data-Flow
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">

            <button id='data-flow1' style='padding:0px 0px 20px 0px; text-align: center;' class="dropdown-btn">Last assigned value of a certain attribute prior to event(D1)
                <i class="fa fa-caret-down"></i>
              </button>
              <div id='attributesD1' class="dropdown-container">
                
              </div>
            <button id='data-flow2' style='padding:0px 0px 20px 0px; text-align: center;' class="dropdown-btn">Last assigned value of a certain attribute after event(D2)
                <i class="fa fa-caret-down"></i>
              </button>
              <div id='attributesD2' class="dropdown-container">
                
              </div>
            <button id='data-flow3' style='padding:0px 0px 20px 0px; text-align: center;' class="dropdown-btn">Average value of a certain attribute after current event(D3)
                <i class="fa fa-caret-down"></i>
              </button>
              <div id='attributesD3' class="dropdown-container">
                
              </div>
            <button id='data-flow4' style='padding:0px 0px 20px 0px; text-align: center;' class="dropdown-btn">Max value of a certain attribute after current event(D4)
                <i class="fa fa-caret-down"></i>
              </button>
              <div id='attributesD4' class="dropdown-container">
                
              </div>
            <button id='data-flow5' style='padding:0px 0px 20px 0px; text-align: center;' class="dropdown-btn">Min value of a certain attribute after current event(D5)
                <i class="fa fa-caret-down"></i>
              </button>
              <div id='attributesD5' class="dropdown-container">
                
              </div>
            <button id='data-flow6' style='padding:0px 0px 20px 0px; text-align: center;' class="dropdown-btn">Sum value of a certain attribute after current event(D6)
                <i class="fa fa-caret-down"></i>
              </button>
              <div id='attributesD6' class="dropdown-container">
                
              </div>
          </div>
    
        <button class="dropdown-btn">Control-Flow
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a id='control-flow1' onclick='check_dropdown13()'>Number of times a certain activity is executed before an event(C1)</a>
            <a id='control-flow2' onclick='check_dropdown14()'>Next activity after event(C2)</a>
            <a id='control-flow3' onclick='check_dropdown15()'>Activity prior to event(C3)</a>
          </div>

    </div>
    
</div>

<div id='loading' style='position: absolute; top: 50%; left: 57%; right: 30%; display:none;'>
    <img  style=' width: 60px; height: 60px; 'src='https://icon-library.com/images/loading-icon-transparent-background/loading-icon-transparent-background-12.jpg'>
</div>

<div style='position: absolute; top: 27%; left: 65%; right: 5%; text-align: center;'>
    <h1>Attributes to derive:</h1>
    <div id='boxAttributes' style='border: 1px solid black; width: 380px; height: 200px; overflow:auto;'>

        <p id='time1-text' style='display:none'>Activity duration of completed activities(T1)</p>
        <p id='time2-text' style='display:none'>Time since start of case(T2)</p>
        <p id='time3-text' style='display:none'>Time to end of case(T3)</p>
        <p id='time4-text' style='display:none'>Case duration(T4)</p>
        <p id='workload1-text' style='display:none'>Workload of event resource at time of event (R1)</p>
        <p id='workload2-text' style='display:none'>Total Workload(R2)</p>
        <p id='control-flow1-text' style='display:none'>Number of times a certain activity is executed before an event(C1)</p>
        <p id='control-flow2-text' style='display:none'>Next activity after event(C2)</p>
        <p id='control-flow3-text' style='display:none'>Activity prior to event(C3)</p>
    </div>
    <button type='button' onclick='updateButton()' style='margin-top:10%; width: 380px; border-radius: 8px; padding: 14px 40px; font-size: 20px; background-color: #555555; color: white;'> 
        Update Event Log
    </button>

</div>

<script>
    var curLog = {{curLog|safe}};
    var attributesNames = {{attributesNames|safe}};
    var numericalAttributesNames = {{numericalAttributesNames|safe}};

    //alert if there is log log setted
    if (curLog==''){
        alert('You have no Event Log setted, please go back to Import page!')
        location.href='/Import/'
    }

    // presents the attributes for the user to choose in D1
    var strD1 = ''
    attributesNames.forEach(function(attr){
        strD1 += "<a id='attributeD1"+attr + "' onclick='check_dropdown7(this.id)' style='padding:0px 0px 20px 0px; text-align: center;'>" + attr + "</a>";
    });
    document.getElementById('attributesD1').innerHTML = strD1;

    // presents the attributes for the user to choose in D2
    var strD2 = ''
    attributesNames.forEach(function(attr){
        strD2 += "<a id='attributeD2"+attr + "' onclick='check_dropdown8(this.id)' style='padding:0px 0px 20px 0px; text-align: center;'>" + attr + "</a>";
    });
    document.getElementById('attributesD2').innerHTML = strD2;

    // presents the attributes for the user to choose in D3
    var strD3 = ''
    numericalAttributesNames.forEach(function(attr){
        strD3 += "<a id='attributeD3"+attr + "' onclick='check_dropdown9(this.id)' style='padding:0px 0px 20px 0px; text-align: center;'>" + attr + "</a>";
    });
    document.getElementById('attributesD3').innerHTML = strD3;

    // presents the attributes for the user to choose in D4
    var strD4 = ''
    numericalAttributesNames.forEach(function(attr){
        strD4 += "<a id='attributeD4"+attr + "' onclick='check_dropdown10(this.id)' style='padding:0px 0px 20px 0px; text-align: center;'>" + attr + "</a>";
    });
    document.getElementById('attributesD4').innerHTML = strD4;

    // presents the attributes for the user to choose in D5
    var strD5 = ''
    numericalAttributesNames.forEach(function(attr){
        strD5 += "<a id='attributeD5"+attr + "' onclick='check_dropdown11(this.id)' style='padding:0px 0px 20px 0px; text-align: center;'>" + attr + "</a>";
    });
    document.getElementById('attributesD5').innerHTML = strD5;

    // presents the attributes for the user to choose in D6
    var strD6 = ''
    numericalAttributesNames.forEach(function(attr){
        strD6 += "<a id='attributeD6"+attr + "' onclick='check_dropdown12(this.id)' style='padding:0px 0px 20px 0px; text-align: center;'>" + attr + "</a>";
    });
    document.getElementById('attributesD6').innerHTML = strD6;

    
    function check_dropdown1(){
        var variavel_text = document.getElementById('time1-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown2(){
        var variavel_text = document.getElementById('time2-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown3(){
        var variavel_text = document.getElementById('time3-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown4(){
        var variavel_text = document.getElementById('time4-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown5(){
        var variavel_text = document.getElementById('workload1-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown6(){
        var variavel_text = document.getElementById('workload2-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }

    var attributeD1=[]
    function check_dropdown7(clicked_id){
        var attr = document.getElementById(clicked_id).innerText
        var index = attributeD1.indexOf(attr)
        if(index>-1){
            document.getElementById('data-flow1-text-'+attr).remove()
            attributeD1.splice(index,1);
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center;'
        }
        else{
            document.getElementById('boxAttributes').innerHTML += "<p id='data-flow1-text-"+attr+"' >Last assigned value of "+attr+" attribute prior to event(D1)</p>"
            attributeD1.push(document.getElementById(clicked_id).innerText)
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center; background-color:lightblue; color:white'
        }
    }
    
    var attributeD2=[]
    function check_dropdown8(clicked_id){
        var attr = document.getElementById(clicked_id).innerText
        var index = attributeD2.indexOf(attr)
        if(index>-1){
            document.getElementById('data-flow2-text-'+attr).remove()
            attributeD2.splice(index,1);
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center;'
        }
        else{
            document.getElementById('boxAttributes').innerHTML += "<p id='data-flow2-text-"+attr+"' >Last assigned value of "+attr+" attribute after current event(D2)</p>"
            attributeD2.push(document.getElementById(clicked_id).innerText)
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center; background-color:lightblue; color:white'
        }
    }

    var attributeD3=[]
    function check_dropdown9(clicked_id){
        var attr = document.getElementById(clicked_id).innerText
        var index = attributeD3.indexOf(attr)
        if(index>-1){
            document.getElementById('data-flow3-text-'+attr).remove()
            attributeD3.splice(index,1);
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center;'
        }
        else{
            document.getElementById('boxAttributes').innerHTML += "<p id='data-flow3-text-"+attr+"' >Average value of "+attr+" attribute after current event(D3)</p>"
            attributeD3.push(document.getElementById(clicked_id).innerText)
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center; background-color:lightblue; color:white'
        }
    }
    
    var attributeD4=[]
    function check_dropdown10(clicked_id){
        var attr = document.getElementById(clicked_id).innerText
        var index = attributeD4.indexOf(attr)
        if(index>-1){
            document.getElementById('data-flow4-text-'+attr).remove()
            attributeD4.splice(index,1);
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center;'
        }
        else{
            document.getElementById('boxAttributes').innerHTML += "<p id='data-flow4-text-"+attr+"' >Max value of "+attr+" attribute after current event(D4)</p>"
            attributeD4.push(document.getElementById(clicked_id).innerText)
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center; background-color:lightblue; color:white'
        }
    }

    var attributeD5=[]
    function check_dropdown11(clicked_id){
        var attr = document.getElementById(clicked_id).innerText
        var index = attributeD5.indexOf(attr)
        if(index>-1){
            document.getElementById('data-flow5-text-'+attr).remove()
            attributeD5.splice(index,1);
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center;'
        }
        else{
            document.getElementById('boxAttributes').innerHTML += "<p id='data-flow5-text-"+attr+"' >Min value of "+attr+" attribute after current event(D4)</p>"
            attributeD5.push(document.getElementById(clicked_id).innerText)
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center; background-color:lightblue; color:white'
        }
    }

    var attributeD6=[]
    function check_dropdown12(clicked_id){
        var attr = document.getElementById(clicked_id).innerText
        var index = attributeD6.indexOf(attr)
        if(index>-1){
            document.getElementById('data-flow6-text-'+attr).remove()
            attributeD6.splice(index,1);
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center;'
        }
        else{
            document.getElementById('boxAttributes').innerHTML += "<p id='data-flow6-text-"+attr+"' >Sum value of "+attr+" attribute after current event(D4)</p>"
            attributeD6.push(document.getElementById(clicked_id).innerText)
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center; background-color:lightblue; color:white'
        }
    }

    function check_dropdown13(){
        var variavel_text = document.getElementById('control-flow1-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown14(){
        var variavel_text = document.getElementById('control-flow2-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }
    function check_dropdown15(){
        var variavel_text = document.getElementById('control-flow3-text')
        if (variavel_text.style.display=='none'){variavel_text.style.display='block';}
        else {variavel_text.style.display='none';}
    }

    // called upon clicking: Update event log
    // turns the chosen attributes into javascript list of their abbreviation ID(R1, T3, etc.)
    // IMPORTANT for functions with additional input, add after their list attribute push, see for example D1
    // finally does ajax upload
    function updateButton() {  
        
        document.getElementById('loading').style.display='block';
        
        const listattributes = []
        const listExtraInput = []

        // gets user's log's names for attributes
        //const user_attr_names =  []
        // activity
        //user_input = prompt("REQUIRES an attribute: Activity, type in name of activity attribute in log file:");
        //console.log("Chosen name for activity attribute"+ user_input)
        //user_attr_names.push('Activity:' + user_input)
        // timestamp
        // user_input = prompt("REQUIRES an attribute: timestamp of object datetime, type in name of the timestamp attribute in your log file:");
        //console.log("Chosen name for timestamp attribute"+ user_input)
        //user_attr_names.push('Timestamp:' + user_input)
        // resource
        //user_input = prompt("REQUIRES an attribute: resource, type in name of the resource attribute in your log file:");
        //console.log("Chosen name for resource attribute"+ user_input)
        //user_attr_names.push('Resource:' + user_input)
        // lifecycle
        //user_input = prompt("OPTIONAL FOR T1 an attribute: lifecycle:transition, type in name of attribute, if not there, type NONE instead!!!:");
        //console.log("Chosen name for transtion attribute"+ user_input)
        //user_attr_names.push('Transition:' + user_input)


        if (document.getElementById('time1-text').style.display=='block'){
            listattributes.push("T1")
        }
        if (document.getElementById('time2-text').style.display=='block'){
            listattributes.push("T2")
        }
        if (document.getElementById('time3-text').style.display=='block'){
            listattributes.push("T3")
        }
        if (document.getElementById('time4-text').style.display=='block'){
            listattributes.push("T4")
        }
        if (document.getElementById('workload1-text').style.display=='block'){
            listattributes.push("R1")
        }
        if (document.getElementById('workload2-text').style.display=='block'){
            listattributes.push("R2")
        }
        if (attributeD1.length!=0){
            listattributes.push("D1")
            console.log("Chosen attribute for D1"+ attributeD1)
            for (let i = 0; i < attributeD1.length; i++) {
                //text += cars[i] + "<br>";
                listExtraInput.push('D1!' + attributeD1[i])
            } 
            // listExtraInput.push('D1!' + attributeD1)
        }
        if (attributeD2.length!=0){
            listattributes.push("D2")
            console.log("Chosen attribute for D2"+ attributeD2)
            for (let i = 0; i < attributeD2.length; i++) {
                listExtraInput.push('D2!' + attributeD2[i])
            }
        }
        if (attributeD3.length!=0){
            listattributes.push("D3")
            console.log("Chosen attribute for D3"+ attributeD3)
            for (let i = 0; i < attributeD3.length; i++) {
                listExtraInput.push('D3!' + attributeD3[i])
            }
        }
        if (attributeD4.length!=0){
            listattributes.push("D4")
            console.log("Chosen attribute for D4"+ attributeD4)
            for (let i = 0; i < attributeD4.length; i++) {
                listExtraInput.push('D4!' + attributeD4[i])
            }
        }
        if (attributeD5.length!=0){
            listattributes.push("D5")
            console.log("Chosen attribute for D5"+ attributeD5)
            for (let i = 0; i < attributeD5.length; i++) {
                listExtraInput.push('D5!' + attributeD5[i])
            }
        }
        if (attributeD6.length!=0){
            listattributes.push("D6")
            console.log("Chosen attribute for D6"+ attributeD6)
            for (let i = 0; i < attributeD6.length; i++) {
                listExtraInput.push('D6!' + attributeD6[i])
            }
        }
        if (document.getElementById('control-flow1-text').style.display=='block'){
            listattributes.push("C1")
        }
        if (document.getElementById('control-flow2-text').style.display=='block'){
            listattributes.push("C2")
        }
        if (document.getElementById('control-flow3-text').style.display=='block'){
            listattributes.push("C3")
        }

        let data =new FormData();
        data.append('ListAtr',listattributes)
        data.append('ExtraAtr',listExtraInput)
        // data.append('AttrNames', user_attr_names)

        
        // TODO add listExtraInput
        // AJAX UPLOAD TO SERVER
        fetch("ListAttributes/", {
        method: "POST",
        body: data
        })
        .then((res) => { return res.text(); })
        .then((txt) => {document.getElementById('loading').style.display='none';
                        alert('Your new event log is saved!'); });
        
    }

    
</script>

{% endblock %}

