{% extends 'main.html' %}

{% block content %} 

<div style='border: 1px solid black; height: 350px; width: 800px; position: absolute; top: 25%; left: 20%; right: 20%; text-align: center;'>
    <img style=' height: 350px; width:650px ;'  src='/media/images/decTree.png'>
</div>

<div style='position: absolute; top: 83%; left: 10%; right: 65%; text-align: center;'>
    <button type='button' onclick="location.href='/UseCase/'" style='margin-top:10%; margin-left: 7%; width: 250px; border-radius: 8px; padding: 14px 40px; font-size: 20px; background-color: #555555; color: white;'> 
        Back to Use Case
    </button>
</div>


<div style='position: absolute; top: 85%; left: 73%; right: 10%; text-align: center;'>
    <button type='button' onclick="location.href='Clustering/'" style='margin-top:10%; margin-left: 7%; width: 220px; border-radius: 8px; padding: 14px 40px; font-size: 20px; background-color: #555555; color: white;'> 
        Clustering
    </button>

</div>


<script>
    document.getElementById('sideMenu').style.display = "none";
</script>
{% endblock %}