{% extends 'main.html' %}

{% block content %} 

<div style='border: 1px solid black; height: 280px; width: 800px; position: absolute; top: 25%; left: 20%; right: 20%; text-align: center;'>
    <img style=' height: 280px; width:280px ;'  src='/media/images/decisionTree.png'>
</div>

<div style='position: absolute; top: 72%; left: 10%; right: 65%; text-align: center;'>
    <button type='button' onclick="location.href='/UseCase/'" style='margin-top:10%; margin-left: 7%; width: 250px; border-radius: 8px; padding: 14px 40px; font-size: 20px; background-color: #555555; color: white;'> 
        Back to Use Case
    </button>
</div>

<div style='position: absolute; top: 72%; left: 40%; right: 35%; text-align: center;'>
    <button type='button' onclick="document.getElementById('imgDT').click()" style='margin-top:10%; margin-left: 7%; width: 220px; border-radius: 8px; padding: 14px 40px; font-size: 20px; background-color: #555555; color: white;'> 
        Download
    </button>
    <a href='/media/images/decisionTree.png' id='imgDT' download hidden></a>
</div>

<div style='position: absolute; top: 74%; left: 73%; right: 10%; text-align: center;'>
    <button type='button' onclick="location.href='Clustering/'" style='margin-top:10%; margin-left: 7%; width: 220px; border-radius: 8px; padding: 14px 40px; font-size: 20px; background-color: #555555; color: white;'> 
        Clustering
    </button>

</div>


<script>
    document.getElementById('sideMenu').style.display = "none";
</script>
{% endblock %}