{% extends 'main.html' %}

{% block content %}


<div style='position: absolute; top: 25%; left: 46%; right: 20%; text-align: center;'>
    <h1>Chose how to filter your event log:</h1>
    <div class="sidenav" style='border: 1px solid black; width: 100%; height:50%; text-align: center'>
        <a id='filter1' onclick='check_filter1()' style='padding:0px 0px 20px 0px; text-align: center;'>Keep all events(F1)</a>
        <a id='filter2' onclick='check_filter2()' style='padding:0px 0px 20px 0px; text-align: center;'>Only keep first event of a case(F2)</a>
        <a id='filter3' onclick='check_filter3()' style='padding:0px 0px 20px 0px; text-align: center;'>Only keep last event of a case(F3)</a>
        <a id='filter4' onclick='check_filter4()' style='padding:0px 0px 20px 0px; text-align: center;'>Only keep ”Complete” events(F4)</a>
        <a id='filter5' onclick='check_filter5()' style='padding:0px 0px 20px 0px; text-align: center;'>Only keep ”Start” events(F5)</a>

        <button id='filter6' style='padding:0px 0px 20px 0px; text-align: center;' class="dropdown-btn">Only keep events with a certain activity(F6)
            <i class="fa fa-caret-down"></i>
          </button>
          <div id='activitiesF6' class="dropdown-container">
            
          </div>

        <button id='filter7' style='padding:0px 0px 20px 0px; text-align: center;' class="dropdown-btn">Only keep events with a certain resource(F7)
            <i class="fa fa-caret-down"></i>
          </button>
          <div id='resourcesF7' class="dropdown-container">
            
          </div>
        
    </div>

    <button type='button' onclick='filterButton()' style='margin-top:10%; width: 380px; border-radius: 8px; padding: 14px 40px; font-size: 20px; background-color: #555555; color: white;'> 
        Filter Event Log
    </button>

</div>  

<script>
    var lifeCycleAttr = {{lifeCycleAttr|safe}};
    var activities = {{activities|safe}};
    var resources = {{resources|safe}};

    if (lifeCycleAttr=='NO LIFECYCLE ATTRIBUTE IN LOG'){
        document.getElementById('filter4').style.display = "none";
        document.getElementById('filter5').style.display = "none";
    }

    // presents the activities for the user to choose in filter 6
    var strActivities = ''
    activities.forEach(function(attr){
        strActivities += "<a id='filter6"+attr + "' onclick='check_filter6(this.id)' style='padding:0px 0px 20px 0px; text-align: center;'>" + attr + "</a>";
    });
    document.getElementById('activitiesF6').innerHTML = strActivities;

    // presents the resources for the user to choose in filter 7
    var strResources = ''
    resources.forEach(function(attr){
        strResources += "<a id='filter7"+attr + "' onclick='check_filter7(this.id)' style='padding:0px 0px 20px 0px; text-align: center;'>" + attr + "</a>";
    });
    document.getElementById('resourcesF7').innerHTML = strResources;

    var filter1 = 0
    var filter2 = 0
    var filter3 = 0
    var filter4 = 0
    var filter5 = 0
    var filter6 = 0
    var filter7 = 0

    function check_filter1(){
        if (filter1==0){
            filter1 = 1
            document.getElementById('filter1').style.color='white'
            document.getElementById('filter1').style.backgroundColor='lightblue'
        }
        else {
            filter1 = 0
            document.getElementById('filter1').style.color='#818181'
            document.getElementById('filter1').style.backgroundColor='white'
        }
    }

    function check_filter2(){
        if (filter2==0){
            filter2 = 1
            document.getElementById('filter2').style.color='white'
            document.getElementById('filter2').style.backgroundColor='lightblue'
        }
        else {
            filter2 = 0
            document.getElementById('filter2').style.color='#818181'
            document.getElementById('filter2').style.backgroundColor='white'
        }
    }

    function check_filter3(){
        if (filter3==0){
            filter3 = 1
            document.getElementById('filter3').style.color='white'
            document.getElementById('filter3').style.backgroundColor='lightblue'
        }
        else {
            filter3 = 0
            document.getElementById('filter3').style.color='#818181'
            document.getElementById('filter3').style.backgroundColor='white'
        }
    }

    function check_filter4(){
        if (filter4==0){
            filter4 = 1
            document.getElementById('filter4').style.color='white'
            document.getElementById('filter4').style.backgroundColor='lightblue'
        }
        else {
            filter4 = 0
            document.getElementById('filter4').style.color='#818181'
            document.getElementById('filter4').style.backgroundColor='white'
        }
    }

    function check_filter5(){
        if (filter5==0){
            filter5 = 1
            document.getElementById('filter5').style.color='white'
            document.getElementById('filter5').style.backgroundColor='lightblue'
        }
        else {
            filter5 = 0
            document.getElementById('filter5').style.color='#818181'
            document.getElementById('filter5').style.backgroundColor='white'
        }
    }

    activityF6=''
    function check_filter6(clicked_id){
        if (document.getElementById(clicked_id).innerText!=activityF6){
            document.getElementById('filter6'+activityF6).style='padding:0px 0px 20px 0px; text-align: center;'
            document.getElementById('filter6').style='padding:0px 0px 20px 0px; text-align: center; background-color:lightblue; color:white'

            activityF6=document.getElementById(clicked_id).innerText
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center; background-color:lightblue; color:white'
        }  
        else{
            activityF6=''
            document.getElementById('filter6').style='padding:0px 0px 20px 0px; text-align: center;'
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center;'

        }
    }

    resourceF7=''
    function check_filter7(clicked_id){
        if (document.getElementById(clicked_id).innerText!=resourceF7){
            document.getElementById('filter7'+resourceF7).style='padding:0px 0px 20px 0px; text-align: center;'
            document.getElementById('filter7').style='padding:0px 0px 20px 0px; text-align: center; background-color:lightblue; color:white'

            resourceF7=document.getElementById(clicked_id).innerText
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center; background-color:lightblue; color:white'
        }  
        else{
            resourceF7=''
            document.getElementById('filter7').style='padding:0px 0px 20px 0px; text-align: center;'
            document.getElementById(clicked_id).style='padding:0px 0px 20px 0px; text-align: center;'
        }
    }


    // upon clicking filter all previously selected filters are sent to views, if neccessary with extra input
    function filterButton() {    
        
        // list all chosen filters
        const listFilters = []
        // list for extra input
        const listExtraInput = []
        
        if (filter1==1){
            listFilters.push("F1")
        }
        
        if (filter2==1){
            listFilters.push("F2")
        }

        if (filter3==1){
            listFilters.push("F3")
        }

        if (filter4==1){
            listFilters.push("F4")
        }

        if (filter5==1){
            listFilters.push("F5")
        }

        if (activityF6!=''){
            listFilters.push("F6")
            console.log("Chosen activity for F6"+ activityF6)
            listExtraInput.push('F6!' + activityF6)
        }

        if (resourceF7!=''){
            listFilters.push("F7")
            console.log("Chosen resource for F7"+ resourceF7)
            listExtraInput.push('F7!' + resourceF7)
        }


        let data =new FormData();
        data.append('listFilters',listFilters)
        data.append('ExtraInput',listExtraInput)

        // TODO add listExtraInput
        // AJAX UPLOAD TO SERVER
        fetch("ListFilters/", {
        method: "POST",
        body: data
        })
        .then((res) => { return res.text(); })
        .then((txt) => { console.log(txt); });
        alert('Your new event log is saved!')

    }

</script>


{% endblock %}