{% extends 'main.html' %}

{% block content %} 
<div style='position: absolute; top: 25%; left: 48%; right: 25%; text-align: center;'>
    <h1>Feature Aggregation in Process Mining</h1>
    <button type='button' onclick="window.open('UserGuide/')" style='margin-top: 20px; border-radius: 8px; padding: 14px 40px; font-size: 24px; background-color: #555555; color: white;'> 
        User Guide
    </button>
    <button type='button' onclick="window.open('ProgrammerGuide/')" style='margin-top: 20px; border-radius: 8px; padding: 14px 40px; font-size: 24px; background-color: #555555; color: white;'> 
        Programmer Guide
    </button>
</div>



{% endblock content %}
