{% extends 'main.html' %}

{% block content %} 
<div style='position: absolute; top: 35%; left: 48%; right: 25%; text-align: center;'>
    <h1>Import XES or CSV file:</h1>
    <form action="upload/" method="POST" class="dropzone" id="my-dropzone" style='border: dashed;'>
        {% csrf_token %}
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
    <h5>!!!DISCLAIMER!!!</h5>
    <h6></h6>
    <h7> XES FORMAT REQUIRES event attributes named: 
        "Activity", "time:timestamp" and (only for adding attribute T1) "lifecycle:transition"</h7>
    <h8></h8>
    <h9> CSV FORMAT REQUIRES column attributes named: 
        "case:concept:name", "Activity", "time:timestamp" and (only for adding attribute T1) "lifecycle:transition"</h9>
    <h10></h10>

</div>
<script>
    Dropzone.autoDiscover = false;
    const myDropzone = new Dropzone("#my-dropzone", {
        url:"upload/",
        maxFiles:1,
        acceptedFiles: '.xes, .csv',
        // success:function(){
        //     location.href="AttrType/"
        // }
    })
</script>
{% endblock %}
