{% extends 'main.html' %}

{% block content %} 

<div style='position: absolute; top: 20%; left: 45%; right: 20%; text-align: center;'>
    <h3 style='font-size: 1.75rem; color:#00529F;'>Event Logs</h3>
</div>
<div style='position: absolute; top: 35%; left: 30%; right: 45%; text-align:left ;'>
    <form action='' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Event Log: <input accept= '.csv, .xes ' style=' font-size: 16px; margin-top: 2px; border:1px solid; border-color: black; width: 350px; ' type="file" name="file"> </p>
        
        <p>
            <button style='font-size: 16px; width: 150px; height: 45px; border-color: #007bff; background-color: #007bff; border-radius: 3px; color: white;' type="submit">Upload EventLog</button>
        </p>
    </form>
</div>

<div style='position: absolute; top: 38%; left: 65%; right: 5%; text-align: center;'>

    <form name="choice" action="" method="POST">
        {% csrf_token %}
        <select style='width: 350px; height: 250px; font-size: 16px;' name="log_list" size="10">
            {% for title in fileNames %}
            <option value="{{title}}">{{title}}</option>
            {% endfor %}
        </select>

        <input style='margin-top: 10px; font-size: 16px; width: 50px; height: 45px; background-color: #28a745; border-color: #28a745; border-radius: 3px; color: white;' type="submit"
        value="Set" name="setButton" id='setButton' />
        <input style='margin-top: 10px; margin-right: 70px; font-size: 16px; width: 80px; height: 45px; background-color: #dc3545; border-color: #dc3545; border-radius: 3px; color: white;' type="submit"
        value="Delete" name="deleteButton" id='deleteButton' />
        <input style='margin-top: 10px; font-size: 16px; width: 120px; height: 45px; background-color: #17a2b8; border-color: #17a2b8; border-radius: 3px; color: white;' type="submit"
        value="Download" name="downloadButton" id='downloadButton' />
        
    </form>
    
</div>

{% endblock %}
