{% extends 'main.html' %}

{% block content %} 

<div id='modelImage' style='border: 1px solid black; height: 280px; width: 1100px; position: absolute; top: 25%; left: 7%; right: 20%; text-align: center;'>
    <img style=' height: 100%; width:100%;' src='/media/images/sublog images/Sublog1.png'>
</div>

<div style='position: absolute; top: 77%; left: 85%; right: 5%; text-align: center;'>
    <button id='next' type='button' onclick="NextButton()" style='display: none; width: 80px; border-radius: 8px; font-size: 20px; background-color: #555555; color: white;'> 
        Next
    </button>
</div>

<div style='position: absolute; top: 77%; left: 10%; right: 85%; text-align: center;'>
    <button id='back' type='button' onclick="BackButton()" style='display: none; width: 80px; border-radius: 8px; font-size: 20px; background-color: #555555; color: white;'> 
        Back
    </button>
</div>

<div style='position: absolute; top: 77%; left: 40%; right: 50%; text-align: center;'>
    <button type='button' onclick="location.href='/UseCase/'" style='margin-top:10%; margin-left: 7%; width: 250px; border-radius: 8px; padding: 14px 40px; font-size: 20px; background-color: #555555; color: white;'> 
        Back to Use Case
    </button>
</div>



<script>

    document.getElementById('sideMenu').style.display = "none";

    var modelsNames = {{fileNames|safe}};
    var sizeModelsNames=modelsNames.length;
    var i=1;

    if (sizeModelsNames>1){
        document.getElementById('next').style.display = "block";
        document.getElementById('back').style.display = "block";
    }

    function NextButton(){
        if (i<sizeModelsNames){
            i=i+1
            document.getElementById('modelImage').innerHTML = "<img style=' height: 100%; width:100%;' src='/media/images/sublog images/Sublog" + String(i)+".png'>"
        }
    }

    function BackButton(){
        if (i>1){
            i=i-1
            document.getElementById('modelImage').innerHTML = "<img style=' height: 100%; width:100%;' src='/media/images/sublog images/Sublog" + String(i)+".png'>"
        }
    }



</script>

{% endblock %}