{% extends 'main.html' %}

{% block content %} 

<div style='position: absolute; top: 25%; left: 46%; right: 20%; text-align: center;'>
    <img src='/media/images/processModel.png'>

</div>

<div>
    <!-- <button type='button' onclick='DownloadProcessModel()' style='margin-top:10%; margin-left: 7%; width: 220px; border-radius: 8px; padding: 14px 40px; font-size: 20px; background-color: #555555; color: white;'> 
        Download
    </button> -->
</div>




<script>
    document.getElementById('sideMenu').style.display = "none";
</script>

{% endblock %}